.icons {
	background-color: #ede3da;
}

.icons__container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px 50px;
}

.icons__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
