.hero {
	background-image: url('../../assets/images/placeholders/background-placeholder-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}
