.card__container {
	width: 100%;
	background-color: #fff;
}

.card__image {
	width: 100%;
	display: block;
}

.card__text-container {
	padding: 15px;
}

.card__author {
	font-family: 'Glacial Indifference';
	font-size: 18px;
	font-weight: bold;
	color: #a7845e;
	margin-bottom: 15px;
}

.card__text {
	font-family: 'Glacial Indifference';
	color: #a7845e;
}
