.desktop-nav {
	display: flex;
	gap: 25px;
}

.desktop-nav__link {
	font-size: 18px;
	color: #80956d;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-decoration-thickness: 4px;
	text-underline-offset: 5px;
	transition: text-decoration-color 0.2s ease;
}

.desktop-nav__link:hover {
	text-decoration-color: #f7868b;
}
