.header {
	background-color: #ede3da;
}

.header__top-bar {
	background-color: #f7868b;
	width: 100%;
	height: 20px;
}

.header__container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.header__logo {
	cursor: pointer;
}

@media screen and (max-width: 811px) {
	.header__container {
		padding: 50px 30px;
	}
}
