@import url(./vendor/normalize.css);

@import url(./vendor/fonts.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f9f8f6;
	font-family: 'Anton', 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 24px;
}
